.json
.env
.vscode/
.cache/


chatbot_graph/integrations/googlecalendar/pruebas.ipynb
chatbot_graph/pruebas.ipynb
interface/pruebas.ipynb

chatbot_graph/tools/getcurrentweather/

__pycache__ 
env_chatbot_prototype/



chatbot_graph/data/
chatbot_autogen/
